body {
  font-family: 'Varela Round' !important;
}
.statusbar-overlay {
  background: none;
  background-color: #b43b2e;
}
.md a {
  color: #b43b2e;
}
.md .navbar {
  background: none;
  background-color: #b43b2e;
}
.md .navbar .title {
  text-transform: uppercase;
  font-size: 15px;
}
.md .page {
  background-color: #f2f2f2;
}
.md .page[data-name="home"] .modulo {
  width: 46%;
  background-color: #FFF;
  margin: 2%;
  float: left;
}
.md .page[data-name="home"] .modulo .icon {
  width: 30%;
  height: auto;
  margin: 15px auto;
  display: block;
}
.md .page[data-name="home"] .modulo span {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  min-height: 42px;
}
.md .page[data-name="home"] .title {
  display: block;
  width: 100%;
}
.md .page[data-name="home"] .title img {
  width: 80%;
  max-width: 270px;
  display: block;
  margin: auto;
}
.md .page[data-name="home"] footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.md .page[data-name="home"] footer a {
  color: #8e8e93;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  width: 100%;
  padding: 15px 0;
  display: block;
}
.md .page[data-name="home"] footer a i {
  font-size: 18px;
  margin-left: 6px;
  margin-top: -3px;
}
.md .page[data-name="calculadora-flex"] input.money {
  background-color: #E1E1E1;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  width: 100%;
}
.md .page[data-name="calculadora-flex"] .historico table,
.md .page[data-name="calculadora-flex"] .historico th,
.md .page[data-name="calculadora-flex"] .historico tr,
.md .page[data-name="calculadora-flex"] .historico td,
.md .page[data-name="calculadora-flex"] .historico span {
  font-size: 9px;
  color: #8e8e93;
}
.md .page[data-name="calculadora-flex"] .historico table tr td {
  padding-left: 2px;
  padding-right: 2px;
}
.md .page[data-name="calculadora-flex"] .historico table tr td:first-child {
  padding-left: 28px;
}
.md .page[data-name="calculadora-flex"] .historico table tr td:last-child {
  padding-right: 28px;
}
.md .page[data-name="calculadora-flex"] div.resultado {
  display: none;
}
.md .page[data-name="calculadora-flex"] div.resultado h1 {
  text-transform: uppercase;
  text-align: center;
  color: #b43b2e;
  font-size: 40px;
  line-height: 38px;
}
.md .page[data-name="calculadora-flex"] div.resultado h1 small {
  font-size: 15px;
}
.md .page[data-name="parametros"] input.km {
  background-color: #E1E1E1;
  text-align: left;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}
.md .page[data-name="doe"] p.small {
  line-height: 14px;
  font-size: 11px;
}
.md .page[data-name="doe"] h5 {
  text-transform: uppercase;
}
.md .button {
  color: #b43b2e;
}
.md .button.button-fill {
  background-color: #b43b2e;
}
